@model ResultCarDto
@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}




<form method="post">
    <label>Model Name</label>
    <input type="hidden" asp-for="CarID" class="form-control" />
    <input type="text" asp-for="ModelName" class="form-control" />
    <br />
    <label>Imagine Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Price</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <label>Seat Count</label>
    <input type="text" asp-for="SeatCount" class="form-control" />
    <br />
    <label>Gear Type</label>
    <input type="text" asp-for="GearType" class="form-control" />
    <br />
    <label>Gas Type</label>
    <input type="text" asp-for="GasType" class="form-control" />
    <br />
    <label>Year</label>
    <input type="text" asp-for="Year" class="form-control" />
    <br />
    <label>Transmission</label>
    <input type="text" asp-for="Transmission" class="form-control" />
    <br />
    <label>Kilometer</label>
    <input type="text" asp-for="Kilometer" class="form-control" />
    <br />

    <button class="brn btn-outline-primary">Save</button>

</form>