@*
    //navbar 
*@
<nav class="pcoded-navbar  ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">

			<div class="">
				<div class="main-menu-header">
					<img  src="@ViewBag.userImg" style="border-radius:50%;height:50px;width:50px" alt="User-Profile-Image">
					<div class="user-details">
						<span>@ViewBag.nameSurname</span>
						<div id="more-details">Admin <i class="fa fa-chevron-down m-l-5"></i></div>
					</div>
				</div>
				<div class="collapse" id="nav-user-link">
					<ul class="list-unstyled">
						<li class="list-group-item"><a href="/AdminProfile/Index"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
						<li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
						<li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
					</ul>
				</div>
			</div>

			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption">
					<label>Navigation</label>
				</li>
				<li class="nav-item">
					<a href="/AdminBrand/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Brand</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminAbout/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">About</span></a>
				</li>
				<li class="nav-item">
					<a href="/Banner/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Banner</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminFeature/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Feature</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminService/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Service</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminTestimonial/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Testimonial</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminCar/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Cars</span></a>
				</li>


			</ul>



		</div>
	</div>
</nav>