@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "/Views/AdminLayout/Layout.cshtml";
}

<h3>CreateAbout</h3>
<form method="post">
    <label>Vision</label>
    <input type="text" asp-for="Vision" class="form-control" />
    <span asp-validation-for="Vision" class="text-danger"></span>
    <br />
    <label>Mission</label>
    <input type="text" asp-for="Mission" class="form-control" />
    <span asp-validation-for="Mission" class="text-danger"></span>
    <br />
    <label>Top Description</label>
    <input type="text" asp-for="Description1" class="form-control" />
    <span asp-validation-for="Description1" class="text-danger"></span>
    <br />
    <label>Sub Description</label>
    <input type="text" asp-for="Description2" class="form-control" />
    <span asp-validation-for="Description2" class="text-danger"></span>
    <br />
    <label>Start Year</label>
    <input type="number" asp-for="StartYear" class="form-control" />
    <span asp-validation-for="StartYear" class="text-danger"></span>
    <br />
    <label>Image Url 1</label>
    <input type="text" asp-for="ImageUrl1" class="form-control" />
    <span asp-validation-for="ImageUrl1" class="text-danger"></span>
    <br />
    <label>Image Url 2</label>
    <input type="text" asp-for="ImageUrl2" class="form-control" />
    <span asp-validation-for="ImageUrl2" class="text-danger"></span>
    <br />
    <label>Article 1</label>
    <input type="text" asp-for="item1" class="form-control" />
    <span asp-validation-for="item1" class="text-danger"></span>
    <br />
    <label>Article 2</label>
    <input type="text" asp-for="item2" class="form-control" />
    <span asp-validation-for="item2" class="text-danger"></span>
    <br />
    <label>Article 3</label>
    <input type="text" asp-for="item3" class="form-control" />
    <span asp-validation-for="item3" class="text-danger"></span>
    <br />
    <label>Article 4</label>
    <input type="text" asp-for="item4" class="form-control" />
    <span asp-validation-for="item4" class="text-danger"></span>
    <br /> 
    <label>Name Surname</label>
    <input type="text" asp-for="NameSurname" class="form-control" />
    <span asp-validation-for="NameSurname" class="text-danger"></span>
    <br />
    <label>Job Title</label>
    <input type="text" asp-for="JobTitle" class="form-control" />
    <span asp-validation-for="JobTitle" class="text-danger"></span>
    <br />
    <label>Profile Picture</label>
    <input type="text" asp-for="ProfilePic" class="form-control" />
    <span asp-validation-for="ProfilePic" class="text-danger"></span>
    <br />
    <button class="brn btn-outline-primary">Save</button>

</form>

